/**
 * Snippet from #css-snippets applied the 18 Mar 2021 at 13:02:55
 * Created by Doggybootsy#1333 (515780151791976453)
 * Snippet ID: 821960077132038184
 */
 .jumpToPresentBar-G1R9s6{
    visibility: hidden;
    bottom:15px;
}
.barButtonIcon-3t4V3d{
    visibility: visible;
    padding:11px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
}
/** 821960077132038184 */