$animation-speed-slow: 800ms;
$animation-speed-normal: 600ms;
$animation-speed-fast: 400ms;

$avatar-size: 32px;
$server-icon-size: 48px;

$server-list-width: 72px;
$sidebar-width: 240px;
$user-area-height: 53px;