.form-2fGMdU {
    padding: 0;
    .channelTextArea-rNsIhG {
        margin-bottom: 0;
        .scrollableContainer-2NUZem {
            height: 53px;
            width: calc(100vw - (240px + 72px));
            border-radius: 0;
            .inner-MADQqc {
                height: 53px;
                button {
                    height: 53px;
                }
                .textAreaSlate-1ZzRVj {
                    height: 53px / 2;
                }
            }
        }
    }
    .typing-2GQL18 {
        bottom: 53px;
    }
}