@use "./variables" as *;
.chatContent-a9vAAp {
    min-width: calc(100% - #{$avatar-size * 2});
}
.membersWrap-2h-GB4 {
    transition: transform $animation-speed-fast ease-in-out;
    // height: calc(100% - #{$user-area-height});
    height: 100%;
    &:hover {transform: translateX(-(240px - $avatar-size * 2));}
    &:not(:hover){
        .membersGroup-v9BXpm,
        .member-3-YXUe .content-3QAtGj {
            height: 0; width: 0;
            padding-top: 0; margin: 0;
        }
    }
    .member-3-YXUe {
        margin-left: 0;
        max-width: 100%;
        .layout-2DM8Md {
            padding: 0;
            .avatar-3uk_u9 {margin: 0 ($avatar-size / 2);}
        }
    }
    .membersGroup-v9BXpm,
    .content-3QAtGj {
        transition: padding $animation-speed-normal ease-in-out;
    }
    .membersGroup-v9BXpm {
        height: auto;
        padding-top: $avatar-size / 2;
        text-indent: $avatar-size * 1.5;
        // padding-top: 0;
    }
}