// Inspired by Nyria's Comfy theme

.panels-j1Uci_ {
    .container-3baos1 {
        .avatarWrapper-2yR4wp {
            position: relative;
            &[aria-expanded="true"] {
                visibility: hidden;
                margin: 0;
                bottom: 260%;
                min-width: 100%;
                &, ~ div {z-index: 1100;}
                > div {
                    // height: 40px !important;
                    // width:  40px !important;
                    svg {
                        visibility: visible;
                        foreignObject {
                            x: 3;
                            mask: none;
                            border-radius: 20%;
                        }
                        rect {display: none;}
                    }
                }
                ~ .canCopy-2VBT7N.nameTag-3uD-yy {
                    margin: 0;
                    display: block;
                    min-width: 80%;
                    position: relative;
                    left: -82%;
                    bottom: 260%;
                    div {width: 100%; text-align: right;}
                    > div:last-child > div > div {
                        opacity: 1;
                        transform: none;
                        span {visibility: collapse;}
                    }
                }
                ~ .flex-1xMQg5 {
                    left: -180%;
                    min-width: 240px - 48px;
                }
            }
        }
        .canCopy-2VBT7N.nameTag-3uD-yy {display: none;}
        .flex-1xMQg5 {
            flex-grow:1 !important;
            justify-content:space-between;
            margin:0 16px;
            position: relative;
        }
    }
}

#popout_6 {
    bottom: 0 !important;
    height: 25vh;
    opacity: 1;
    > div {
        position: relative;
        left: -8px;
        height: 100%;
        background-color: var(--background-floating);
        transition: opacity 0.15s linear 0s;
        #status-picker {
            height: 14vh;
            width: 240px;
            top: 25%;
            box-shadow: none;
            > div {
                display: grid;
                align-items: center;
                grid-template-columns: auto auto auto auto;
                visibility: visible;
                > div[role="separator"] {display: none;} //
                > div[role="menuitem"] {
                    &:nth-of-type(7) {grid-column: 1/5;}
                    svg {
                        --status-icon-size: 75%;
                        height: var(--status-icon-size); 
                        width: var(--status-icon-size);
                        margin-left: 33%;
                    }
                    .statusItem-33LqPf > div {display: none;}
                }
                #status-picker-custom-status {font-size: 15px;}
            }
        }
    }
}