[id^=popout]:not(#popout_6) {
    top: 0 !important;
    left: 72px !important;
    height: 100vh;
    width: 240px;
    > div {
        transition: none !important;
        transform: none !important;
        > div {
            height: 100vh - 2.9vh;
            width: 100%;
            position: relative;
            top: 2.9vh;
            box-shadow: none;
            > div:nth-child(2) {height: 100%;}
            &::after {
                content: " ";
                font-size: 53px;
            }
        }
    }
}